* {
    margin: 0;
    padding: 0;
}

.header-logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.header-container {
    padding: 0;
    display: flex;
    height: 135px;
}

.header-right {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.pre-order {
    width: 151px;
    height: 48px;
    margin: 20px;
}

.group-five h1 {
    text-align: center;
    font-family: barlow;
    font-weight: 900;
    font-size: 48px;
}

.group-five > p {
    margin-top: 32px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7B8BAD;
    font-style: normal;
}

.pre-order-orange {
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
    width: 150px;
    height: 48px;
    background-color: #F16718;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'barlow', sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
    border: none;
}

p.release {
    display: inline-block;
    width: 130px;
    height: 26px;
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}


.keyboard-mobile {
    border-radius: 20px;
    margin-left: 24px;
    margin-top: 64px;
    margin-bottom: 24px;
    width: 372px;
    height: 331px;
}

.side-by-side-pics {
    height: 200px;
}

.left-img {
    display: inline-block;
    border-radius: 20px;
    background-color: #ef6718;
    background-blend-mode: multiply;
    background-image: url("assets/mobile/image-phone-and-keyboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 129px;
    height: 193px;
    border-radius: 20px;
    margin-right: 24px;
    float: left;
}

.right-img {
    position: absolute;
    display: inline-block;
    background-image: url("assets/mobile/image-glass-and-keyboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 193px;
    border-radius: 20px;
    float: right;
    margin-right: 24px;
}

.side-by-side-pics {
    margin-bottom: 83px;
}
.mech-wireless-txt > p {
    font-family: 'barlow', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}

.margin-p {
    margin-top: 83px;
}

.p-under-mech-txt {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}

.bg-icon {
    display: flex;
    width: 62.5px;
    height: 65px;
    background-color: #EF6718;
    border-radius: 15px;
    /* background-image: "./assets/shared/icon-compatible.svg"; */
}

.m-auto {
    justify-self: center;
}

